body{
background-color:#7f00ff;
background-size:cover
}
input[ type="text"]: width:400; height:25 ;color: #000000}
input[ type="email"]:width:400; height:25 ;color: #000000}
input[type="password"]:width:400;height:25;color: #000000}


button:hover{
width:110px;height:30px;
	border:3px solid blue ;
	background-color:green;

}

